.container {
  width: 100%
}

.form-style {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 50px;
}

.data{
  width:  100%;
  display: flex;
  justify-content: center;
}

.data-table{
  width:  50%
}
